---
import { Image } from "astro:assets";
import FormattedDate from "../FormattedDate.astro";
import { Icon } from "astro-icon/components";

const { post } = Astro.props;
---

<article
	class="sm:flex sm:space-x-3 md:space-x-6 group relative rounded-md transition duration-200 hover:ring-1 hover:ring-primary-600 dark:hover:ring-primary-300"
>
	<div class="relative w-full sm:w-48 sm:h-58 rounded-md overflow-hidden">
		{
			post.data.heroImage && (
				<Image
					src={post.data.heroImage}
					alt={post.data.title}
					class="object-cover w-full sm:w-48 sm:h-58 dark:hidden"
				/>
			)
		}
		{
			post.data.heroImageDark && (
				<Image
					src={post.data.heroImageDark}
					alt={post.data.title}
					class="object-cover w-full sm:w-48 sm:h-58 dark:block hidden"
				/>
			)
		}
	</div>

	<div class="relative py-4 sm:px-6 rounded-lg flex-1">
		<h2 class="text-lg sm:text-xl font-semibold my-1">
			<a href={`/blog/${post.id}`}>
				<div class="absolute inset-0"></div>
				<span>{post.data.title}</span>
			</a>
		</h2>
		<time class="text-sm font-mono">
			<FormattedDate date={post.data.pubDate} />
		</time>
		<p class="mt-4 text-stone-700 dark:text-stone-300">
			{post.data.description}
		</p>
		<div
			class="flex items-center space-x-1 text-sm font-medium mt-4 group-hover:text-primary-600 dark:group-hover:text-primary-300"
		>
			<span>Read article</span>
			<Icon name="heroicons:chevron-right-16-solid" />
		</div>
	</div>
</article>
