---
import { Icon } from "astro-icon/components";
const timeline = [
	{
		date: "March 2025 – Present",
		role: "Senior Software Engineer",
		company: "Neo Health",
		location: "Remote",
		description: "Founding engineer.",
	},
	{
		date: "February 2025 – March 2025",
		role: "Software Engineer",
		company: "TRM Labs",
		location: "Remote",
		description: "",
	},
	{
		date: "March 2021 - December 2024",
		role: "Senior Software Engineer",
		company: "Route",
		location: "Remote",
		description: "",
	},
	{
		date: "September 2020 - March 2021",
		role: "Software Engineer",
		company: "SWAP",
		location: "Remote",
		description: "Microfrontends. Lots of microfrontends.",
	},
	{
		date: "December 2018 - July 2020",
		role: "Software Engineer",
		company: "Medpass",
		location: "São Paulo, Brazil",
		description: "",
	},
	{
		date: "March 2018 – December 2018",
		role: "Web Developer",
		company: "Acesso (now Bankly)",
		location: "São Paulo, Brazil",
		description: "",
	},
];
---

<div class="space-y-16">
	{
		timeline.map((item) => (
			<div class="grid grid-cols-1 md:grid-cols-4">
				<div class="text-stone-600 dark:text-stone-200 text-sm">
					{item.date}
				</div>
				<div class="col-span-3 flex flex-col gap-y-3">
					<div class="font-medium text-primary-600 dark:text-primary-300">
						{item.role}
						<span class="font-normal">- {item.company}</span>
					</div>
					<div class="flex items-center space-x-1">
						<Icon
							name="heroicons:map-pin"
							aria-label="Location"
							role="img"
						/>
						<span>{item.location}</span>
					</div>
					{item.description && <div>{item.description}</div>}
				</div>
			</div>
		))
	}
</div>
